.container {
    width: 1024px;
    margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page__header {
    flex-shrink: 0;
    margin-bottom: 24px;
}

.page__main {
    flex-grow: 1;
}

.page__footer {
    flex-shrink: 0;
}

.header {
    background-color: var(--black);
}

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 12px 18px;
}