:root {
    --test-border: none;
    --test-border: 1px solid red;

    --border: 1px solid var(--black);
    --black: #101010;
    --black-hover: #2a2a2a;
    --white: #ffffff;
    --white-hover: #fafafa;
    --gray-skeleton: rgba(16, 16, 16, .2);
    --title-font: "Alegreya Sans SC", sans-serif;
    --transition-eio: all .1s ease-in-out;
}

html {
    height: 100%;
    position: relative;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    color: var(--black);
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
}